* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: .95rem;
}

.dashboard {
  display: flex;
}


ul, li {
  list-style-position: inside;
}

h3 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
}

strong {
  font-weight: 600;
}


/* sidebar */

.sidebar {
  overflow-y: scroll;
  width: 260px;
  height: 100vh;
  background-color: #2a417b;
}

.sidebar h3 {
  color: #e6eaee;
  margin: 10px 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 2px 10px;
}

.sidebar a {
  color: black;
  text-decoration: none;
}


/* mainview */

.mainview {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mainview .title-bar {
  margin: 10px 20px;
  padding: 10px;
  background-color: #e8f570;
  border-radius: 2px;
}

.mainview h3 {
  color: #454545;
  display: inline;
}


/* messages */

#messages {
  height: 35vh;
}

#messages-board {
  background-color: #2a417b;
  color: #e6eaee;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 50px;
}

#messages-board p {
  font-size: 18px;
}

#messages-board p span {
  font-size: 18px;
  color: white;
}


/* incidents */

#incidents {
  height: 60vh;
}

#n-incidents {
  background-color: #28ad06;
  border-radius: 50px;
  padding: 7px 10px 3px 10px;;
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  color: white;
}

#incidents-board {
  overflow-y: scroll;
  background-color: #2a417b;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  margin: 10px 50px;
  max-height: 49.5vh;
}

#incidents-board ul {
  list-style-type: none;
}

#incidents-board li {
  background: #e6eaee;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 2px 10px;
}

.reset-btn {
  float: right;
}



@media (max-width: 600px) {
  * {
    font-size: 1rem;
  }

  .sidebar {
    display: none;
  }
